#main-content {
    flex-grow: 1;
    padding: 20px; /* Adjust padding as needed */
    background-color: #f4f4f4; /* Set a background color for the main content */
    overflow: auto; /* Add overflow property if content exceeds the viewport height */
  }
  
  #main-content img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio of the image */
    display: block; /* Remove any extra space below the image */
    margin: 0 auto; /* Center the image horizontally */
  }
  